<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fan.breeze.dao.UserMapper">
  <resultMap id="BaseResultMap" type="cn.fan.breeze.entity.UserEntity">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="avatar" jdbcType="INTEGER" property="avatar" />
    <result column="personal_sign" jdbcType="VARCHAR" property="personalSign" />
    <result column="github" jdbcType="VARCHAR" property="github" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="home_path" jdbcType="VARCHAR" property="homePath" />
    <result column="hometown" jdbcType="VARCHAR" property="hometown" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, nickname, username, `password`, avatar, personal_sign, github, mail, home_path, 
    hometown, ctime, mtime, last_login_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectBySelective" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from b_user
    <where>
      <if test="nickname != null and nickname != ''">
        and nickname like concat('%', #{nickname}, '%')
      </if>
      <if test="username != null and username != ''">
        and username = #{username}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="user_id" keyProperty="userId" parameterType="cn.fan.breeze.entity.UserEntity" useGeneratedKeys="true">
    insert into b_user (nickname, username, `password`, 
      avatar, personal_sign, github, 
      mail, home_path, hometown, 
      ctime, mtime, last_login_time
      )
    values (#{nickname,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=INTEGER}, #{personalSign,jdbcType=VARCHAR}, #{github,jdbcType=VARCHAR}, 
      #{mail,jdbcType=VARCHAR}, #{homePath,jdbcType=VARCHAR}, #{hometown,jdbcType=VARCHAR}, 
      #{ctime,jdbcType=TIMESTAMP}, #{mtime,jdbcType=TIMESTAMP}, #{lastLoginTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="user_id" keyProperty="userId" parameterType="cn.fan.breeze.entity.UserEntity" useGeneratedKeys="true">
    insert into b_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nickname != null">
        nickname,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="personalSign != null">
        personal_sign,
      </if>
      <if test="github != null">
        github,
      </if>
      <if test="mail != null">
        mail,
      </if>
      <if test="homePath != null">
        home_path,
      </if>
      <if test="hometown != null">
        hometown,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="mtime != null">
        mtime,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=INTEGER},
      </if>
      <if test="personalSign != null">
        #{personalSign,jdbcType=VARCHAR},
      </if>
      <if test="github != null">
        #{github,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="homePath != null">
        #{homePath,jdbcType=VARCHAR},
      </if>
      <if test="hometown != null">
        #{hometown,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null">
        #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.fan.breeze.entity.UserEntity">
    update b_user
    <set>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=INTEGER},
      </if>
      <if test="personalSign != null">
        personal_sign = #{personalSign,jdbcType=VARCHAR},
      </if>
      <if test="github != null">
        github = #{github,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="homePath != null">
        home_path = #{homePath,jdbcType=VARCHAR},
      </if>
      <if test="hometown != null">
        hometown = #{hometown,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null">
        mtime = #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.fan.breeze.entity.UserEntity">
    update b_user
    set nickname = #{nickname,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=INTEGER},
      personal_sign = #{personalSign,jdbcType=VARCHAR},
      github = #{github,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      home_path = #{homePath,jdbcType=VARCHAR},
      hometown = #{hometown,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      mtime = #{mtime,jdbcType=TIMESTAMP},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>